.navbar{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     /* width: 100%; */
     min-height: 56px;
     height: auto;
     padding: 10px 12px;
     border-bottom: 1px solid #ccc ;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     flex-wrap: wrap;
     gap: 6px;
 }

 .navButtons{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     flex-wrap: wrap;
     gap: 6px;
 }

 .navButton{
     
     background-color: transparent;
     cursor: pointer;
     font-size: 16px;
     
     border-radius: 5px;
     color: #686565;
     /* border: 1px solid #ccc; */
     border: none;
 }

 @media (max-width: 700px) {
   .navbar{
     justify-content: center;
   }

   .navButtons{
     padding: 6px 0;
     justify-content: center;
     width: 100%;
   }

   .navButton{
     font-size: 14px;
     padding: 8px 10px;
     margin: 4px;
   }
 }

.navButton:hover{
    color: #646cff;
    border-bottom: 2px solid #646cff;
    transition: 0.2s ease-in-out;
}